body {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    border-bottom: 3px solid #5D8026;
}

button:hover {
    border: 1px solid #5D8026 !important;
    background-color: white;
    color: #5D8026 !important;
}


.main-container {
    display: flex !important;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: -5;
}

.nav-link {
    margin: 0 1.5em;
}

.selected-menu {
    border: 2px solid #5D8026 !important;
    padding: 0.5em 2em;
    border-radius: 25px;
}

.background-green {
    background-color: #5D8026;
}

.color-green {
    color: #5D8026 !important;
}

.border-bottom-green-thick {
    border-bottom: 7.5px solid #5D8026;
}

.border-bottom-green-thin {
    border-bottom: 3px solid #5D8026;
}